@font-face {
  font-family: 'Noto Sans CJK KR';
  src: url(/assets//fonts/NotoSansCJKkr-Regular.otf);
}

body {
  color: #707070;
  font-family: 'Noto Sans CJK KR' !important;
}

.faq-cat-content {
  margin-top: 25px;
}

.faq-cat-tabs li a {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
  outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
  text-decoration: none;
  color: #777777;
}

.faq-cat-content .panel-heading:hover {
  background-color: #efefef;
}

.active-faq {
  border-left: 5px solid #888888;
}

.panel-faq .panel-heading .panel-title span {
  font-size: 13px;
  font-weight: normal;
}

nav.navbar.navbar-inverse {
  background: transparent;
  border: transparent;
  margin: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent;
  color: #E20000;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #E20000;
}

/*APP CSS*/
div.app-datetime {
  padding: 15px;
  text-align: right;
  font-size: 20px;
}

span.app-date {
  text-decoration: underline;
}

.nav-tabs {
  border-bottom: 1px solid black;
}

.nav-tabs > li > a {
  background: #F0F0F0;
  border-color: #CBCBCB;
}

.nav-tabs > li > a {
  border-bottom: 0px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: white;
  border-color: black;
}

.nav-tabs li.active > a {
  border-bottom: 1px solid white !important;
}

div.searchicon {
  width: 370px;
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 0;
}

div.searchicon input.form-control {
  border-right: 0;
  height: 30px;
  border-color: black;
}

div.searchicon span.input-group-addon {
  background: transparent;
  border-color: black;
  padding: 5px 6px;
}

div.searchicon span.input-group-addon > a {
  color: inherit;
}

div.searchicon .input-group.stylish-input-group.pull-right {
  width: 69%;
}

div.searchicon .form-group {
  width: 29%;
  display: inline-block;
  margin: 0;
}

div.searchicon .form-group select {
  height: 30px;
  border-color: black;
}

form.box-body.form-horizontal {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 10px !important;
}

form.box-body.form-horizontal label.control-label {
  text-align: left;
  font-weight: normal;
  padding-top: 0;
}

.box-body.form-horizontal .form-group {
  border-bottom: 1px solid gainsboro;
  margin: 0;
  padding: 3px 0;
}

input[type='checkbox'] {
  /* Hide the checkbox input ui */
  opacity: 0;
}

input[type='checkbox'] + span {
  background: url(../uncheck.svg) no-repeat center left !important;
  padding-left: 23px;
  margin-left: -18px;
}

input[type='checkbox']:checked + span {
  background: url(../check.svg) no-repeat center left !important;
}

label.checkbox {
  display: inline-block;
  margin-left: 26px;
  font-weight: normal;
  padding-top: 0 !important;
  min-height: auto !important;
}

.input-group.inline-block span.btn.btn-default {
  border-color: transparent;
}

.custmbtn {
  border: 1px solid black !important;
  border-radius: 0 !important;
  margin: 3px !important;
  padding: 3px !important;
  margin-left: 7px !important;
  margin-top: 1px !important;
  height: 28px !important;
}

.gray-box-angle {
  background-color: #eee !important;
  margin-bottom: -10px;
  position: relative;
}

.gray-box-angle span {
  font-size: 17px;
  position: absolute;
  top: 0;
  right: 4px;
  color: #a4a4a4;
}

/*
Accessories
*/
.width-auto{
  width: auto !important;
}
.width-70p{
  width: 70% !important;
}
.width-348px{
  width: 348px;
}
.width-87{
width: 87px;
}
.width-140{
  width: 140px;
  }
.width-0{
  width: auto !important;
}
.width-20 {
  width: 20px;
}

.width-28{
  width: 28px;

}

.width-50 {
  width: 50px !important;
}

.width-70 {
  width: 70px !important;
}
.width-85{
  width: 85px;
}
.width-90{
  width:  90px !important;
}
.width-110 {
  width: 110px !important;
}
.width-100 {
  width: 100px !important;
}
.width-120 {
  width: 120px !important;
}
.width-140 {
  width: 140px !important;
}
.width-150{
  width: 150px !important;
}
.width-100p{
  width: 100% !important;
}
.width-220{
  width: 220 !important;
}

.width-250 {
  width: 250px !important;
}

.width-300 {
  width: 300px !important;
}

.width-400 {
  width: 400px !important;
}
.width-800{
  width: 800px !important;
}

.height-auto{
  height:auto !important;
}

.height-100p{
  height: 100%;
}
.height-100{
  height: 100px !important;
}
.height-40 {
  height: 40px !important;
}
.pad-left-align-left{
  padding-left:5px;
  text-align: left 
}
.padding-h-25p{
  padding: 0px 25% !important;
}
.padding-0-8{
  padding: 0px 8px !important;
}
.padding-5-10{
  padding: 5px 10px !important;
}
.padding-10-5{

padding: 10px 5px;
}
.padding-10{
  padding: 10px;
}
.padding-btm{
  padding-bottom: 10px;
}
.margin-0-25p{
  margin: 0 25% !important;
}
.margin-0-auto{
  margin: 0 auto !important;
}
.margin-top-10{
  margin-top: 10px !important;
}
.margin-btm-4{
margin-bottom: 4px;
}
.padding-top-bottom-0{
  padding-top:0; 
  padding-bottom:0; 
}
.padding-0-10-0-0{
  padding: 0 10px 0 0 !important;
}
.padding-right-0{
  padding-right: 0px !important;
}
.padding-5-vertical{
  padding: 5px 0px !important;
}
.margin-btm-25{
  margin-bottom: 25px;
  }
.padding-10px {
  padding: 10px 0px;
}
.padding-10-all {
  padding: 10px !important;
}
.padding-6px {
  padding: 6px 0px;
}

.padding-4px {
  padding: 4px 0px;
}
.padding-5px {
  padding: 5px;
}
.padding-9px {
  padding: 9px 0px;
}
.padding-left-20{
  padding-left: 20px
}
.padding-left-5{
padding-left: 5px;
}
.padding-left-0 {
 padding-left: 0 !important;
}
.inline-block {
  display: inline-block;
}
.block{
  display: block;
}
.text-center {
  text-align: center;
}

.btn {
  padding: 3px 10px;
}

.btn-save {
  background: #606060;
  color: white;
  border-color: #606060;
}

.btn-cancel {
  background: #EAEAEA;
  border-color: #707070;
}
.btn-btm-sm{
  height: 30px;
  position: relative;
  top: -2px;
  margin: 0 2px;
}

.breadcrumb {
  background: transparent;
  border-radius: 0;
  padding-left: 0;
  margin: 0;
}

li.breadcrumb-item a {
  color: #707070;
}

.modal-footer.text-center {
  border: 0;
}

.form-control {
  height: 30px;
  box-shadow: none !important;
  border-radius: 0;
  border-color: #ADADAD;
  margin: 0px 6px;
}

div.searchicon .form-control {
  border-radius: 4px;
}

.noPadding {
  padding: 0 !important;
}

.noPadding-left {
  padding-left: 0 !important;
}

.noPadding-right {
  padding-right: 0 !important;
}

.noPadding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.flex-400 {
  height: 400px;
  display: flex;
}

.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.item-center{
  justify-content: center;
    align-items: center;
}

ul.nav-tabs.custom {
  margin-left: -1px;
  margin-right: -1px;
  background: white;
}

.border-black {
  border: 1px solid black;
}
.border-light-gray{
  border: 1px solid #707070;
}

.border-top0 {
  border-top: 0 !important;
}

.border-btm  {
  border-bottom: 1px solid gainsboro;
}
.border-btm-black{
  border-bottom: 1px solid black;
}
.border-top  {
  border-top: 1px solid gainsboro;
}

.noBorder {
  border: 0 !important;
}

.overflow-auto {
  overflow: auto;
}

.fullheight {
  height: 100% !important;
}

.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-half {
  position: relative;
  top: 1.5px;
}
.top-2{
  top: 2px;
}
.top--6{
  top: -6px;
}
.flex{
  display: flex;
}
.inline-flex{
  display: inline-flex;
}


.grid-checkbox {
  margin: 0 !important;
}

.grid-checkbox input[type="checkbox"] {
  margin: 0 !important;
}

.grid-checkbox span {
  margin: 0 !important;
  padding-left: 18px !important;
}
.letter-spacing-6{
  letter-spacing: 6px;
}
.vertical-align-middle{
  vertical-align: middle !important;
}
.relative{
  position: relative !important;
}
.absolute{
  position: absolute !important;
}
.bottom-5{
  bottom: 5px;
}
.red-tick {
  font-size: 16px;
  color: red;
}
/* Hassan's CSS */
.red-color{
  color: #E20000 !important;
}
.bold{
  font-weight: bold !important;
}
.font-weight-100{
  font-weight: 100;
}
.font-12{
  font-size: 12px;
}
.font-25{
  font-size: 25px;
}
.no-margin{
  margin: 0 !important;
}
.bg-td-light-blue{
  background-color: #8292e03b;
}    
.bg-gray{
  background-color: #656565 !important;
}
.white{
  color: white;
}
.underline{
  text-decoration:underline !important;
}
.border-radius-5{
  border-radius: 5px !important;
}

.margin-v-5{
margin: 5px 0px !important;
}
.margin-8-auto{
  margin: 8px auto !important;
}
.margin-left-0{
  margin-left: 0px !important;
}
.margin-left-10{
  margin-left: 10px !important;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-4{
margin-top: 4px;
}
.margin-bottom-5{
  margin-bottom: 5px !important;
}
.margin-right-50{
  margin-right: 50px;
}

.option-buttons-container{
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: 100%;
}
.option-buttons-container.absolute {
  display: inline-flex;
  top: 0;
  right: 0;
}
.option-buttons-container button {
  margin: 0 3px;
}
  .option-button{
    border-radius: 5px;
    border-color: #B7B7B7;
    background-color: #E6E6E6;
    border: 1px solid;
    box-shadow: none;
    height: 30px;
    margin-bottom: 5px;
   
}
.option-buttons-container label {
  margin: 0;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;
}
.row.no-pad > [class*='col-'] {
  padding-right:5px;
  padding-left:5px;
}
.tab1-button{
  width: 100%;
    border: 1px solid;
    border-radius: 3px;
    border-color: #A7A7A7;
    background-color: #F2F2F2;
    height: 30px;
    margin-bottom: 8px;
    font-size: 0.7vw;
}
table.table-textcenter th, table.table-textcenter td {
  padding: 5px 4px;
  text-align: center;
}
table label{
  margin: 0 !important;
}
.search-icon{
  font-family: 'Glyphicons Halflings';
    font-style: normal;
}
.search-icon:before {
  content: "\e003";
}
.searched-red:before {
  font-size: 40px;
  content: '\2022';
  /* background: rebeccapurple; */
  color: red;
  position: absolute;
  right: 70px;
  top: -21px;
}
.searched-green:before {
  font-size: 40px;
  content: '\2022';
  /* background: rebeccapurple; */
  color: #71e640;
  position: absolute;
  right: 70px;
  top: -21px;
}
.right-icon{
  font-family: 'Glyphicons Halflings';
  font-style: normal;
}
.right-icon::after {
  content: "\25b6";
  float: right;
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 10px;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
.float-none{
  float: none !important;
}

.bg-light-blue{
  background-color: #8292E0;
}
.bg-red{
 background-color:   #F85454;
}
.form-input-field{
  border-radius: 5px;
  border: 1px solid #272727;
}
.text-right{
  text-align: right;
}

.sum-boxes{
  width: 100%;
  height: 69px;
  border-bottom: 1px solid #B1B1B1;
  padding-top: 5px;

}
.sum-box-row1{
  padding-left: 5px;
}
.sum-box-row2{
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.btn-bg-border {
  background: #F8F8F8 !important;
  border: 1px solid #707070 !important;
}
.bg-gainsboro{
  background: gainsboro;
}
.bg-light-gray{
    background: #f0f0f0;
}
.black{
  color: black;
}
.gray{
  color: #BDBDBD;
}
.blue{
color: #2F48C3;
}
.gainsboro{
  color: #b4b1b1;
}
/*Datepicker*/
.datepicker {
  width: 210px !important;
}
.datepicker-days table.table-condensed td:last-child, .datepicker-days table.table-condensed th:last-child:not(.next) {
  color: #8292e0;
}
.datepicker-days table.table-condensed td:first-child, .datepicker-days table.table-condensed th:first-child:not(.next) {
  color: red;
}
.datepicker-days .prev:after,.datepicker-container > span.prev:after{
  transform: rotate(-61deg) !important;
}
.datepicker-days .next:after,.datepicker-days .prev:after,.datepicker-container > span:after{
  content: "\25b6";
    float: right;
    font-size: 17px;
    color: black;
}
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
  color: #fff !important;
  background-color: #8292e0;
  border-color: #8292e0;
}
.datepicker-dropdown.datepicker-orient-bottom:after,.datepicker-dropdown.datepicker-orient-bottom:before{
  display:none;
}
.datepicker.dropdown-menu {
  margin: 0;
  margin-top: 1px;
  border: 1px solid;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.datepicker-open {
  border: 1px solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.form-control.datepicker{
  margin: 0;
  margin-right: 3px;
  padding: 0px 25px;
  text-align: center;
  padding-right: 25px;
}
.datepicker-container {
  position: relative;
  display: inline-block;
  float: left;
}
.datepicker-container-normal {
  float: inherit;
  position: relative;
  top: 9px;
}
.datepicker-container > span:after{
  position: absolute;
}
.datepicker-container > span.prev:after {
  left: 9px;
  top: 1px;
}

.datepicker-container > span.next:after {
  right: 9px;
  top: 2px;
}
div#faq-cat-1 .breadcrumb>li{
  display: inline-block;
  position: relative;
}
div#faq-cat-1 li.breadcrumb-item p {
  padding: 0px 10px;
}

div#faq-cat-1 .breadcrumb>li+li:before {
  position: absolute;
  left: -7px;
  content: "|";
}
/*breadcrumb*/
.bordered[aria-label="breadcrumb"]{
  border: 1px solid #707070;
  padding: 3px 8px;
  margin-bottom: 10px;
  
}
.bordered[aria-label="breadcrumb"] label.checkbox {
  padding-right: 5px;
}
nav.relative.bordered li.breadcrumb-item {
  position: relative;
  padding: 0px 12px;
}
nav.relative.bordered .breadcrumb>li+li:before {
  position: absolute;
  left: -1px;
  content: "|";
}
.table-filter-checkbox{
  display: inline-block;
    padding: 0 5px;
}
.table-dropdown-container{
  position: relative;
  padding: 3px;
  display: inline-block;
}
.img-svg{
  background: url(../upload-img.svg) no-repeat;
  width: 25px;
  height: 25px;
  z-index: 100;
  position: absolute;
  top: 70px;
  right: 0;
}

.txt-area-btn-container{
  /* for Group1-Photo2 */
  margin: 0 auto;
  height: auto;
  width: 450px;
}
.txt-area-btn-container textarea{
  resize: none;
}
.txt-area-btn-container button{
  float: right;
  height: 38px;
    margin-left: 8px
}
.translateY-200p{
  transform: translateY(200%) !important;
}
.resize-none{
  resize: none !important;
}

/*
Pagination 
*/
ul.pagination.no-margin li a {
  background: transparent;
  border: 0 !important;
  margin: 0 2px;
  font-size: 13px;
    font-weight: bold;
}
ul.pagination.no-margin li.paginate_button.active a {
  color: black;
  font-weight: bold;
}
ul.pagination.no-margin li.paginate_button.previous.disabled a {
  background: #e6e6e6;
  color: white;
}
ul.pagination.no-margin li.paginate_button.next.disabled a {
  background: #e6e6e6 !important;
  color: white;
}
ul.pagination.no-margin li.paginate_button.next a {
  background: #656565 !important;
  color: white;
}
.table-btm-btn{
  position: relative;
    top: -13px;
    /* right: -4px; */
    margin-right: 0;
}
tr.active td {
  background: #8292e0 !important;
  color: white;
}
.searched:before {
  font-size: 49px;
  content: '\2022';
  /* background: rebeccapurple; */
  color: red;
  position: absolute;
  right: 3px;
  top: -17px;
}
.stats-container{
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
  height: 35px;
}
.stats-border-div{
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0px 12px;
 
}
.stats-container div {
  display: inline-block;
  position: relative;
  top: 8px;
}

div.list-container {
  height: 450px;
  width: 326px;
}
.list-item-container {
  height: calc(100% - 41px);
  width: 100%;
  overflow-y: scroll;
  position: relative;
  top: 4px;
  border: 1px solid;
}
.list-item-container.relative .active {
  background: #295ED5;
  color: white;
}
/*
Board Management Writing
*/
.b-mngt-writing-bdy{
  height: 360px;
  overflow-y: scroll;
}

.b-mngt-writing-modal-info{
  border: 1px solid gray;
  background: gainsboro;
  padding: 10px;
}

/*
Bulletin Board Management
*/
.custom-heading p {
  padding: 0 10px;
}
.custom-heading li:before{
  display: none;
}
.bull-content-container{
  height: 450px;
  border-top: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
}
  /*
Custom Dropdown
*/
.cstm-timepicker {
  display: inline-block;
  position: relative;
}
.selected-itm {
  background: white;
  padding: 5px;
  width: 130px;
  border: 1px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}
.cstm-timepicker ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background: white;
  box-shadow: 0px 3px 1px 0px #d7d7d7;
  border: 1px solid;
  position: absolute;
  width: 100%;
  top: 29px;
  border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cstm-timepicker ul span:nth-child(1) {
  padding: 5px;
  display: inline-block;
  width: 50%;
}
.cstm-timepicker ul span:nth-child(2) {
  padding: 5px;
  display: inline-block;
  width: 50%;
  float: right;
}
.selected-itm:after {
  content: '\0025BC';
  font-size: 11px;
  position: absolute;
  right: 4px;
  top: 9px;
}
.selected-itm.active + ul{
  display: block;
}
.cstm-timepicker ul span{
  cursor: pointer;
}
.cstm-timepicker ul span.active {
  font-weight: bold;
}
.cstm-timepicker ul span.active:after {
  content: '\2713';
  left: 6px;
  position: relative;
}
/*
Data Analyiss
*/
.data-analy-top-row{
  padding: 30px 0 !important;
  border-bottom: 1px solid gainsboro;
}
.table-cell{
  width: 260px;
    display: inline-block;
}